body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.contenedor {
    position: relative;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(125, 65, 105, 0.3);
}

.imagen {
    width: 100%;
    display: block;
}

.descripcion {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}